{% extends 'base.html.twig' %}

{# SURCHARGE BLOCK TITLE #}
{% block title %}Blog Symfony{% endblock %}

{# SURCHARGE BLOCK STYLESHEETS à partir de Bootstrap 3 getting started #}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
          crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ asset('style/style.css') }}"/>
{% endblock %}

{# SURCHARGE BLOCK JAVASCRIPTS à partir de Bootstrap 3 getting started#}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
{% endblock %}

{# SURCHARGE BLOCK BODY #}
{% block body %}
    
    {# Affichage de la barre admin que si rôle = admin #}
    {% if is_granted('ROLE_ADMIN') %}
        {# Barre admin #}
        <nav class="navbar navbar-inverse">
            <div class="container">
                <a href="{{ path('app_admin_category_index') }}" class="navbar-brand">Menu admin</a>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('app_admin_category_index') }}">Gestion des catégories</a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_article_index') }}">Gestion des articles</a>
                    </li>                
                </ul>
            </div>
        </nav>
    {% endif %}
        
    {# Menu général #}
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_index_index') }}">Blog</a>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user is null %}
                <li>
                    <a href="{{ path('app_security_register') }}">Inscription</a>
                </li>
                <li>
                    <a href="{{ path('app_security_login') }}">Connexion</a>
                </li>     
                {% else %}
                <li>
                    <a>{{ app.user.fullname }}</a>
                </li> 
                <li>
                    <a href="{{ path('app_security_logout') }}">Déconnexion</a>
                </li>  
                {% endif %}
            </ul>
        </div>    
    </nav> 
            
    {# container #}
    <div class="container">
            
        {# Zone d'erreurs #}
        {% for type,messages in app.session.flashbag.all %}
            {% for message in messages %}
                
                {# petit fix pour error/danger#}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ type }}">{{ message|raw}}</div>
            {% endfor %}
        {% endfor %}
       {% block content %}{% endblock %}
    </div>         
 
{% endblock %}